



/*@font-face*/

@font-face{
    font-family: "Open_Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

html {
    scroll-behavior: smooth;
  }


.fa-rockrms {
    position: relative;
    top: 0.3em;
    left: 0.9em;
    font-size: 36px;
}

.NAME {
    position: relative;
    top: 0.6em;
    left: 1.3em;
    font-size: 17PX;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}



.navbar1 {
    position: relative;
    top: 0.6em;
    right: 1.3em;  
}



body {
    background-image: url(../images/pap3.jpg);
    background-size: 1800px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-attachment: fixed;

}

/*------------HEADING---------------*/

.heading {
    position: relative;
    padding-top: 20%;
    text-align: center
}

#head1 {
    position: relative;
    left: 0.1em;
    top: 0.7em;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.829);
}


#head2 {
    font-size: 65px;
    color: rgba(255, 255, 255, 0.897);
}

#head3 {
    position: relative;
    left: 0.1em;
    font-size: 31px;
    color: rgba(255, 255, 255, 0.911);
}

/*-------------ABOUT---------------*/

.about {
    position: relative;
    top: 29em;
    padding-top: 9em;
    padding-bottom: 3em;
    padding-left: 9em;
    padding-right: 9em;
    color: rgb(253, 253, 253);
    background-color: rgb(24, 25, 29);
    text-align: left;
}

#profilepic {
    position: relative;
    top: 2em;
    left: 2em;
    border-radius: 50%;
    width: 266px;
    height: auto;
    min-width: 120px;
}

#intro {
    font-size: 20px;
    
}

#tldr {
  position: relative;
  padding-left: 31%;
  padding-bottom: 1.5em;
}

.linux {
  position: relative;
  padding-left: 2em;
}

.prog {
  position: relative;
  padding-left: 1.5em;
}

.webd {
  position: relative;
  right: 0.5em;
}

.python {
  position: relative;
  right: 2.1em;
}

.linux2 {
  position: relative;
  left: 8.6em;
  padding-top: 1em;
}

.prog2 {
  position: relative;
  left: 5.1em;
  padding-top: 1em;
}

.webd2 {
  position: relative;
  right: 1.6em;
  padding-top: 1em;
}

.python2 {
  position: relative;
  right: 8.1em;
  padding-top: 1em;
}

/*------------LOADING---------------*/

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #131518;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  
